body {
  font-family: 'Open Sans', sans-serif;
  color: #141414;
  line-height: 1.5;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

.padded {
  padding: 8em 0em;
}

.white-bg {
  background-color: #F7F7F7;
}

.card {
  padding: 10px;
  font-weight: 300;
}


.slogan {

}

.quote {

}
